* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    justify-items: stretch;
    align-items: start;
}

.container>div {
    background: #ecf0f1;
    padding: 1em;
}

.container>div:hover {
    border: 1px solid #f1c40f;
}